// Place all the styles related to the api/games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Arial, Helvetica, sans-serif;
}

// .main-content {
//   background-color: #efefef;
//   width: 97%;
//   height: 100%;
//   margin: 0 auto;
//   margin-top: 20px;
// }

.game-header {
  display: flex;
  flex-direction: row;
  // background-color: black;
  // background-image:
  //   linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
  //   url("https://cf.geekdo-images.com/4Zr2B1zIgCM9qZfKhZoisQ__imagepage/img/kXfQ2kYjDENgXmRcXYrBcmuhf4U=/fit-in/900x600/filters:no_upscale():strip_icc()/pic133885.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white;
  width: 100%;
  padding-bottom: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game-header-image {
  margin: 30px;
}

.game-header-image img{
  width: 175px;
}

.game-header-body {
  margin: 30px;
}

.game-header-title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.game-header-title-rating {
  display: grid;
  margin-right: 15px;
  height: 52px;
}

.hexagon, .rating {
  grid-column: 1;
  grid-row: 1;
}

.hexagon1 {
  width: 0;
  border-bottom: 13px solid rgb(59, 120, 184);
  border-left: 22.5px solid transparent;
  border-right: 22.5px solid transparent;
}

.hexagon2 {
  width: 45px;
  height: 26px;
  background-color: rgb(59, 120, 184);
}

.hexagon3 {
  width: 0;
  border-top: 13px solid rgb(59, 120, 184);
  border-left: 22.5px solid transparent;
  border-right: 22.5px solid transparent;
}

.game-header-title-rating .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.game-header-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-top: 5px;
}

.game-header-title .title {
  font-size: 23px;
  font-weight: 700;
  margin-right: 5px;
}

.game-header-title .year {
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

.game-header-title-container p {
  font-size: 15px;
}

.game-header-gameplay {
  display: flex;
  flex-direction: row;
}

.game-header-gameplay p {
  height: 55px;
  width: 150px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 0.5px solid rgba(255, 255, 255, .2);
  border-left: 0.5px solid rgba(255, 255, 255, .2);
  font-size: 16px;
  font-weight: 600;
}

.game-header-gameplay p:first-child {
  border-left: none;
}

.game-header-credits p {
  padding-bottom: 10px;
}




.game-body {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.game-body-description-title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.game-body-main {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  line-height: 1.5;
}

.game-body-main-content {
  width: 80%;
  
}

.game-body-awards {
  margin-top: 20px;
}

.game-body-awards h1, 
.game-body-classification h1 {
  color: rgb(115, 115, 115);
  font-size: 14px;
  font-weight: 600;
}

.game-body-classification {
  width: 12%;
  background-color: rgb(231, 231, 231);
  margin-left: 20px;
  padding: 15px;
}

.game-body-classification > * {
  margin: 5px 0 5px 0;
}

.game-body-classification h2 {
  color: rgb(35, 35, 35);
  font-size: 14px;
  font-weight: 700;
}

.game-body-classification li {
  line-height: 1.25;
}

.game-body-classification li * {
  color: rgb(40, 70, 180);
  font-size: 14px;
  text-decoration: none;
}





.index-table {
  width: 95%;
  margin: 0 auto;
}

.index-table-headers {
  margin-top: 10px;
}

.index-table tr:last-child {
  margin-bottom: 10px;
}

.index-table tr {
  display: flex;
  align-items: center;
}

.index-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 0.5px solid rgba(0, 0, 0, .2);
}

.table-rank {
  width: 10%;
}

.table-img {
  width: 15%;
}

.table-title {
  width: 40%;
}

.table-title-link {
  color: rgb(43, 77, 200);
  text-decoration: none;
  font-weight: 700;
}

td.table-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

td.table-title div {
  display: flex;
}

.table-your-rating {
  width: 10%;
}

.table-freak-rating {
  width: 10%;
}

.table-avg-rating {
  width: 10%;
}

.table-num-voters {
  width: 10%;
}

.table-status {
  width: 15%;
}

.table-your-plays {
  width: 10%;
}

.table-shop {
  width: 25%;
}
