// Place all the styles related to the api/lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-form-title {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-weight: 600;
}

.list-form-err {
  color: red;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  
}

.list-form-err * {
  list-style-type: circle;
}

.list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.list-form tr {
  border: 1px solid black;
}

.list-form th {
  padding: 10px;
}

.list-form td {
  padding: 10px;
  border: 1px solid black;
  text-align: start;
  vertical-align: top;
}


.list-index {
  padding: 25px;
}

.list-index h1 {
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.list-new-btn {
  background-color: rgb(15, 61, 186);
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.list-new-btn * {
  text-decoration: none;
  color: white;
}

.list-listings {
  margin-top: 15px;
}

.list-listing {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding: 15px 0 15px 0
}

.list-listing-thumbnail {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  height: 90px;
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
}

.list-listing-thumbnail:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.list-listing-thumbnail-sub {
  width: 33%;
  background-color: gray;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid white;
}

.list-listing-thumbnail img {
  height: 100%;
  object-fit: contain;
}

.list-listing-info h2 {
  font-size: 16px;
  font-weight: 700;
}

.list-listing-info ul {
  display: flex;
  flex-direction: row;
}

.list-listing-info li {
  margin: 10px 10px 10px 0;
  font-size: 14px;
  color: rgb(154, 154, 154);
}




.list-show-header {
  display: flex;
  flex-direction: row;;
  padding: 25px;
  
}

.list-show-header-thumbnail {
  height: 75px;
  width: 75px;
  background-color: black;
  margin-right: 20px;
  border-radius: 5px;
}

.list-show-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-show-header h1 {
  font-size: 24px;
  font-weight: 700;
}

.list-show-header ul{
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.list-show-header li {
  margin: 5px 5px 0 0;
}

.list-show-header li:first-child {
  font-weight: 600;
}

.list-show-body {
  border-bottom: 1px solid lightgray;
  padding: 25px 0 25px 0;
  margin: 0 25px 0 25px;
}

a {
  text-decoration: none;
  color: inherit
}

.list-btns {
  margin-top: 25px;
}

.list-btns>* {
  background-color: white;
  color: gray;
  border: 0.5px solid rgba(0, 0, 0, .6);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
}

.list-btns *:hover {
  color: blue;
  border-color: blue;
  background-color: lightgray;
  transition: 0.3s;
}

.liked {
  color: blue;
  border-color: blue;
}