// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  padding: 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15px;
}

.profile-box {
  border: 2px solid rgba(#000000, 0.3);
  border-radius: 5px;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  height: 80vh;
  overflow-y: auto;
}

.profile-box h1 {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #3f3a60;
  color: white;
  padding: 5px 0;
  border: 2px solid rgba(#000000, 0.3);
}

.user-list, .user-rating, .user-activity {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgba(#000000, 0.3);
  border-top: none;
  
}

.user-list a, .user-rating a {
  font-weight: 600;
}

.user-list a:hover, .user-rating a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.user-rating-stars {
  display: flex;
  flex-direction: row;
}

