// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}




// Nav Bar Styling

body { 
  background-color: lightgrey;
}

.navbar {
  height: 50px;
  background-color: #3f3a60;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-icon {
  margin: 0 20px 0 20px;
} 

.dropdown {
  float: left;
  overflow: hidden;
}

.nav-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 5px;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #2e2b47;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  border: black 3px;
  font-size: 15px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button {
  background-color: #f9f9f9;
  border: none;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.dropdown-content a:hover {
  color: rgb(0, 0, 195);
}

.dropdown-content button:hover {
  color: rgb(0, 0, 195);
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.caret {
  color: #8884a0;
}

.main-content {
  background-color: white;
  width: 97%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-top: .1px;
}


//home page

.home-ad {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.home-nav {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin: 0 35px 0 35px;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

.home-nav li {
  padding: 10px;
}

.home-nav li:first-child {
  border-bottom: 2px solid orangered;
  font-weight: 600;
}

.home-top {
  padding: 38px;
  display: flex;
  flex-direction: row;
}

.home-top p {
  font-size: 14px;
  color: rgb(129, 129, 129);
}

.home-top-feature {
  width: 55%;
}

.home-top-feature img {
  width: 100%;
  border-radius: 5px;
}

.home-top-feature img:hover {
  cursor: not-allowed;
  opacity: 0.5;
  transition: 0.3s;
}

.home-top-feature h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 15px 0;
}

.home-top-featurettes {
  padding-left: 30px;
  width: 45%;
}

.home-top-featurettes li {
  display: flex;
  flex-direction: row;
  border-top: 1px solid lightgray;
  padding: 15px 0 15px 0;
}

.home-top-featurettes li:hover {
  cursor: not-allowed;
  opacity: 0.5;
  transition: 0.3s;
}

.home-top-featurettes li:first-child {
  border-top: none;
  padding-top: 0;
}

.home-top-featurettes img {
  border-radius: 5px;
  height: 75px;
  width: 75px;
  margin-right: 15px;
}

.featurette-info {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featurette-info h1 {
  font-weight: 600;
  font-size: 16px;
}

.home-hot {
  padding: 35px;
  overflow: hidden;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.home-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.home-title h1{
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

.home-hot-carousel, .home-lists-carousel {
  display: flex;
  flex-direction: row;
}

.home-hot-carousel-item, .home-lists-carousel-item {
  width: 20%;
  padding: 15px 15px 15px 0;
  text-decoration: none;
  color: black;
}

.home-hot-carousel-item:hover, .home-lists-carousel-item:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.home-hot-thumbnail, .home-lists-thumbnail {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 150px;
  border-radius: 5px;
  background-color: black;
}

.home-hot-thumbnail img{
  margin: auto 0;
}

.home-hot-info *, .home-lists-info * {
  margin-top: 10px;
}

.home-hot-info h1, .home-lists-info h1{
  font-weight: 600;
}


.home-lists {
  padding: 35px;
  overflow: hidden;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 15px;
}

.home-lists-thumbnail {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
}

.home-lists-thumbnail-sub {
  width: 33%;
  background-color: gray;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid white;
}

.home-lists-thumbnail img {
  height: 100%;
  object-fit: contain;
}




//footer

.footer {
  background-color: #3f3a60;
  margin: 0 auto;
  color: white;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 16px 40px 16px;
  line-height: 2;
}

.footer-main > * {
  width: 25%;
}

.footer h1 {
  font-weight: 600;
  font-size: 14px;
  color: lightgray;
}

.footer li {
  cursor: not-allowed;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  
}

.footer-socials li {
  margin-right: 10px;
  font-size: 20px;
}

.footer-credit {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: lightgray;
  padding: 15px;
  font-size: 14px;
}